.loginWrapper {
    display:none;
}
#formContainer {
    margin: 0 auto;   
    width: 600px; 
    
}
.ulogujes-se {
    height: 76px;
    width: 400px;
    color: #000000;    
    font-size: 64px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 78px;
    margin-bottom: 36px;
    font-family: 'Nunito', sans-serif;
}
.klikni {
  height: 81px;
  width: 540px;
 
  font-family: 'Nunito', sans-serif;
  background-color: #FFC23B;
  color: #FFFFFF;  
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 7.27px;
  line-height: 25px;
  border:0;
}
.klikni:hover {
    border: 1px solid aqua;
    
}
#name, #password {
    font-family: 'Nunito', sans-serif;
    border:0;
    border-bottom: 2px solid #000000;
    width: 540px;
    margin-bottom: 36px;
    outline:0;
    font-size: 32px;
    line-height: 39px;
    font-style:normal;
}

